

.dropdown-menu.dark > li > a{
	color: #333;
}
.timeline-body > div > a{
	color: black;
}
.timeline:before{
	background-color: #777;
}

.img-circle{
	max-width: 175px;
	width: 175px;
	height: 175px;
}
.selected-img{
	height: 300px;
}
.small-image{
	height: 75px;
}

.conclusion{
	background-image: url('../img/cemetery.jpg');
	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: center center;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
}
p.indent{
	text-indent: 50px;
}
}